@if (post) {
<section class="flex flex-col boder-2 border-y border-slate-300 py-4 px-2 gap-4 my-[35px]">
    <div class="flex items-center justify-between relative">
        <app-user-image-profile [userNamePost]="post.userName" />
        @if (post.userName === (user$ | async)?.userName) {
        <button (click)="toggleOptionsMenu()" class="menu-toggle flex items-center justify-center">
            <span class="px-[20px]">&#8230;</span>
        </button>
        }
        <div class="menu-options" [ngClass]="{ 'flex': isOpenOptionsMenu, 'hidden': !isOpenOptionsMenu }">
            <ul>
                <li (click)="editPost(post.publicationId)"><i class="fa-solid fa-pen-to-square"></i> Editar publicación
                </li>
                <hr>
                <li (click)="deletePost(post.publicationId)"><i class="fa-solid fa-trash"></i> Eliminar publicación</li>
            </ul>
        </div>
    </div>


    <div (click)="openPost(post!.publicationId)"
        class="bg-contain bg-no-repeat bg-center h-[300px] w-full cursor-pointer"
        [style.background-image]="'url(' + post.image + ')'">
    </div>


    <div (click)="toogleMessage()">
        <p [ngClass]="{'text-slate-400': true, 'message-wraped': true, 'line-clamp-2': !messageFull, 'line-clamp-none': messageFull, 'duration': 300}"
            class="text-[15px]">
            {{ post.comment }}
        </p>
        @if (post.comment.length > 100) {
        <label class="text-[10px] text-blue-400">{{messageFull ? 'Leer menos' : 'Leer mas'}}</label>
        }
    </div>

    <div class="flex items-center justify-start">
        @if (post.likes.includes((user$ | async)?.userName ?? '')) {
        <i (click)="like()" [ngClass]="{'beat-heart': isLiked}" class="fa-solid fa-heart text-red-500 px-[10px]"><span
                class="ml-1">{{post.likes.length}}</span></i>
        } @else {
        <i (click)="like()" class="fa-regular fa-heart text-red-500 px-[10px]"><span
                class="ml-1">{{post.likes.length}}</span></i>
        }
        <i (click)="openPost(post!.publicationId)" class="fa-solid fa-comment text-slate-500 px-[10px]"><span
                class="ml-1">{{post.comments.length}}</span></i>
    </div>
</section>
}