@if (post) {
<section class="flex flex-col boder-2 border-y border-slate-300 py-4 px-2 gap-4">
    <div class="flex items-center justify-between relative">
        <app-user-image-profile [userNamePost]="post.userName" />
        @if (post.userName === (user$ | async)?.userName) {
        <button (click)="toggleOptionsMenu()" class="menu-toggle">&#8230;</button>
        }
        <div class="menu-options" [ngClass]="{ 'flex': isOpenOptionsMenu, 'hidden': !isOpenOptionsMenu }">
            <ul>
                <li (click)="editPost(post.publicationId)">Editar publicación</li>
                <hr>
                <li (click)="deletePost(post.publicationId)">Eliminar publicación</li>
            </ul>
        </div>
    </div>


    <div (click)="openPost(post!.publicationId)"
        class="bg-contain bg-no-repeat bg-center h-[300px] w-full cursor-pointer"
        [style.background-image]="'url(' + post.image + ')'">
    </div>


    <div (click)="toogleMessage()">
        <p
            [ngClass]="{'text-slate-400': true, 'message-wraped': true, 'line-clamp-2': !messageFull, 'line-clamp-none': messageFull, 'duration': 300}">
            {{ post.comment }}
        </p>
        @if (post.comment.length > 50) {
        <label class="text-sm text-blue-400">{{messageFull ? 'Leer menos' : 'Leer mas'}}</label>
        }
    </div>

    <div class="flex items-center justify-between">
        @if (post.likes.includes((user$ | async)?.userName ?? '')) {
        <i (click)="like()" class="fa-solid fa-heart text-red-500 mr-1"><span
                class="ml-1">{{post.likes.length}}</span></i>
        } @else {
        <i (click)="like()" class="fa-regular fa-heart text-red-500 mr-1"><span
                class="ml-1">{{post.likes.length}}</span></i>
        }
        <i (click)="openPost(post!.publicationId)" class="fa-solid fa-comment text-slate-500 mr-1"><span
                class="ml-1">{{post.comments.length}}</span></i>
    </div>
</section>
}