<section class="mb-[45px]">
    @for (comment of comments; track $index) {
    <div class="flex items-center justify-between m-[5px]">
        <div class="flex flex-col justify-center">
            <h3 class="font-bold text-[12px]">{{comment.userName}}</h3>
            <span class="text-slate-400 text-[12px]">{{comment.comment}}</span>
        </div>
        @if(userName === comment.userName){
        <div class="flex items-center justify-center gap-2">
            <i (click)="deleteComment(comment.idComment)" class="fa-solid fa-trash text-red-300"></i>
        </div>
        }
    </div>
    }
</section>
<hr>