@if(!(store$ | async)?.wedding) {
<div class="container-message">
    <h1 class="initial-message">No se ha encontrado la boda. <br>Por favor corrobora el link.
    </h1>
    <img class="absolute bottom-0 w-[250px]" src="../../../assets/404.webp" alt="">
</div>
}

@else if((store$ | async)?.wedding?.posts?.length === 0){
<div class="container-message">
    <h1 class="initial-message">Aun no hay ninguna publicacion. <br>Se el
        primero en subir una imagen
    </h1>
    <img class="absolute bottom-0 w-[250px]" src="../../../assets/posts2.webp" alt="">
</div>
}

@else {
@for (post of (store$ | async)?.wedding?.posts; track $index) {
<app-card-post [post]="post" [loading]="(store$ | async)!.loading" />
}
}

<app-button-new-post />